.navbar {
    background-color: rgb(44, 35, 29);
}

footer {
    background-color: rgb(163, 159, 159);
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); 
}

.carousel {
    border: solid black; 
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px; }  

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}
.white-back {
    background-color: white;
}

.menu {
    color: white;
}
img{
    
}
  

